BeautifulSoup==3.2.1
Django==1.7.4
Markdown==2.5.2
PyYAML==3.11
argparse==1.2.1
django-filter==0.9.2
django-rest-swagger==0.2.8
djangorestframework==3.0.5
docopt==0.6.2
ipython==2.4.1
joe==0.0.5
prettytable==0.7.2
requests==2.3.0
wsgiref==0.1.2
